[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=iViewer
Comment=Remote iMessages for linux
Exec=/usr/share/iViewer/iViewer
Icon=iViewer
Terminal=false
StartupNotify=true
